.home-banner{
	padding: 25px;
	background-image: url(./img/banner.jpg);
	background-color: #D3CAC5;
	background-position: 26% 70%;
	background-size: cover;
	height: 450px;
}
@media (min-width: 768px)
.home-banner {
	height: 510px;
	}